@page "/"
@using System.Globalization;
@model ParksComputing.Engine.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Html.Raw(Model.Title);
}

@section Meta { @if (Model.MetaElements is not null) {
@foreach (var element in @Model.MetaElements) {
    @Html.Raw(element.OuterHtml)
}}
}

@section Links { @if (Model.LinkElements is not null) {
@foreach (var element in @Model.LinkElements) {
    @Html.Raw(element.OuterHtml)
}}
}

@section Style { @if (Model.StyleElements is not null) {
@foreach (var element in @Model.StyleElements) {
    @Html.Raw(element.OuterHtml)
}}
}

@section HeadScripts { @if (Model.HeadScriptElements is not null) {
@foreach (var element in @Model.HeadScriptElements) {
    @Html.Raw(element.OuterHtml)
}}
}

<div class="main-container">
    @Html.Raw(Model.PageContent)
</div>

<div class="row">
@if (Model.Root?.Posts != null) {
    foreach (var post in Model.Root.Posts) {
        <div class="col-md-4"><h2><a href="@post.Url">@post.Title</a></h2><p class="posted-on">@(post.Date?.ToLongDateString() ?? "")</p><p>@post.Excerpt <i><a href="@post.Url">More &raquo;</a></i></p></div>
    }
}
</div>
