@page "/"
@using System.Globalization;
@model ParksComputing.Engine.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Html.Raw(Model.Title);
}

@section Meta { @if (Model.MetaElements is not null) {
@foreach (var element in @Model.MetaElements) {
    @Html.Raw(element.OuterHtml)
}}
}

@section Links { @if (Model.LinkElements is not null) {
@foreach (var element in @Model.LinkElements) {
    @Html.Raw(element.OuterHtml)
}}
}

@section Style { @if (Model.StyleElements is not null) {
@foreach (var element in @Model.StyleElements) {
    @Html.Raw(element.OuterHtml)
}}
}

@section HeadScripts { @if (Model.HeadScriptElements is not null) {
@foreach (var element in @Model.HeadScriptElements) {
    @Html.Raw(element.OuterHtml)
}}
}

<div class="main-container">
    @Html.Raw(Model.PageContent)
</div>

@if (Model.Root?.Posts != null)
{
    <ul class="post-grid list-unstyled">
    @foreach (var post in Model.Root.Posts)
    {
        <li class="post-card">
            <div class="post-card-meta">@(post.Date?.ToLongDateString() ?? "")</div>
            <a class="post-card-title" href="@post.Url">@post.Title</a>
            <p class="post-card-excerpt">@post.Excerpt</p>
            <div class="mt-auto">
                <a class="post-card-more" href="@post.Url">Read more &raquo;</a>
            </div>
        </li>
    }
    </ul>
}
