@page "{**section}"

@model ParksComputing.Engine.Pages.NavModel
@{
    ViewData["Title"] = Model.NavNode.Title;
}

<div class="main-container">
    <h1>@Model.NavNode.Title</h1>
    <p>@Model.NavNode.Excerpt</p>
</div>

<div class="row">
@if (Model.NavNode != null && Model.NavNode.Nav != null) {
    @foreach (var post in @Model.NavNode.Nav) {
        <div class="col-md-4"><h2><a href="@post.Url">@post.Title</a></h2><p class="posted-on">@(post.Date?.ToLongDateString() ?? "")</p><p>@post.Excerpt <i><a href="@post.Url">More &raquo;</a></i></p></div>
    }
}
</div>
