@page "{**slug}"
@model ParksComputing.Engine.Pages.PostLoaderModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Html.Raw(Model.WpTitle);
}
<h1>@Html.Raw(Model.WpTitle)</h1>
<div class="posted-on">Posted on <time datetime="@Model.WpCreatedGmt">@Model.WpCreated</time></div>

@if (Model.WpCreatedGmt != Model.WpModifiedGmt) {
    <div class="updated-on">Updated on <time datetime="@Model.WpModifiedGmt">@Model.WpModified</time></div>
}
<br />
@Html.Raw(Model.WpContent)
