@page "/rss"
@model ParksComputing.Engine.Pages.RssModel
@{
    Layout = "_Rss";
    Response.ContentType = "text/xml";
    ViewData["Title"] = "Parks Computing";
    ViewData["Link"] = "https://parkscomputing.com";
    ViewData["Description"] = Model.Description;
    ViewData["Language"] = Model.Language;
    ViewData["PubDate"] = Model.CreateDate.ToString("R");
    ViewData["LastBuildDate"] = Model.ModifiedDate.ToString("R");
}
@if (Model.Root != null && Model.Root.Posts != null) {
@foreach (var post in @Model.Root.Posts) {
    @:<item>
        <title>@post.Title</title>
        @:<link>@post.Url</link>
        <description>@post.Excerpt</description>
    <pubDate>@(post.Date?.ToString("R") ?? DateTime.UtcNow.ToString("R"))</pubDate>
        <guid>@post.Url</guid>
    @:</item>
}
}

