@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="main-container">
    <div class="content-body">
        <h1>Parks Computing</h1>
        <p>
            This is the personal web site of Paul Parks. Please pardon the dust, but I'm in the process of porting this site from WordPress to 
            ASP.NET Razor Pages hosted on Azure.
        </p>
    </div>
</div>

<div class="row">
    @foreach (var post in @Model.NavRoot.posts) {
        <div class="col-md-4"><h2><a href="@post.link">@post.title</a></h2><p>@post.excerpt <i><a href="@post.link">More &raquo;</a></i></p></div>
    }
</div>
