@page "/{section}/{**slug}"
@model PageLoaderModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Html.Raw(Model.Title);
}

@section Meta { @if (Model.MetaElements is not null) { 
@foreach (var element in @Model.MetaElements) { 
    @Html.Raw(element.OuterHtml)
}}
}

@section Links { @if (Model.LinkElements is not null) { 
@foreach (var element in @Model.LinkElements) { 
    @Html.Raw(element.OuterHtml)
}}
}

@section Style { @if (Model.StyleElements is not null) { 
@foreach (var element in @Model.StyleElements) { 
    @Html.Raw(element.OuterHtml)
}}
}

@section HeadScripts { @if (Model.HeadScriptElements is not null) { 
@foreach (var element in @Model.HeadScriptElements) { 
    @Html.Raw(element.OuterHtml)
}}
}

<div class="posted-on"><time datetime="@Model.CreatedGmt">@Model.Created</time>
@if (Model.CreatedGmt != Model.ModifiedGmt) {
    <span class="updated-on"> (updated <time datetime="@Model.ModifiedGmt">@Model.Modified</time>)</span>
}
</div>

@Html.Raw(Model.PageContent)
