@page "{section?}/{**slug}"
@model aspnet_core_dotnet_core.Pages.PageLoaderModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Html.Raw(Model.Title);
}

@section Meta {
@foreach (var element in @Model.MetaElements) {
    <meta @foreach (var item in element.Attributes) { <text>@item.Name="@item.Value" </text>}/>
}
}

@section Links {
@foreach (var element in @Model.LinkElements) {
    <link @foreach (var item in element.Attributes) { <text>@item.Name="@item.Value" </text>}/>
}
}

@section HeadScripts {
@foreach (var element in @Model.HeadScriptElements) {
    <script @foreach (var item in element.Attributes) { <text>@item.Name="@item.Value" </text>}>@element.InnerHtml</script>
}
}

@if (Model.CreatedGmt != Model.ModifiedGmt) {
    <div class="updated-on">Updated on <time datetime="@Model.ModifiedGmt">@Model.Modified</time></div>
}
<br />
@Html.Raw(Model.PageContent)

