@model ParksComputing.Engine.Pages.Services.Comments

@if (Model.Enabled) {
    @if (Model.Exception != null) {
<div class="page-comments">
    <h2 class="page-comments">Comments</h2>
    Comments are currently unavailable.
</div>
    }
    else {
<div class="page-comments">
    <h2 class="page-comments">Comments</h2>
@foreach (var element in @Model.CommentResponseList) {
    var comment = element.Comment;
    @if (comment.Status == SmartSam.Comments.Lib.CommentStatus.Approved) {
    <div class="page-comment" id="@comment.CommentId">
            <h3 class="page-comment-title">@if (string.IsNullOrEmpty(comment.Title)) { @($"Comment from {comment.Name}") } else {@(comment.Title)}</h3>
            <div class="page-comment-author">
            <span class="page-comment-name">@(comment.Name)</span> on
            <span class="page-comment-timestamp">@(comment.CreateDateTime.ToString("dd MMMM yyyy"))</span> at
            <span class="page-comment-timestamp">@(comment.CreateDateTime.ToString("hh:mm tt"))</span>
        </div>
        <div class="page-comment-text">@(comment.CommentText)</div>
    </div>
    }
}
@if (Model.Posted) {
    <div class="page-comment-posted" id="page-comment-new-comment">
        <h3 class="page-comments" id="page-comment-new-comment-header">New Comment</h3>
        <div class="page-comment" id="page-comment-new-comment-text">
            Your comment has been posted and is awaiting approval.
        </div>
    </div>
}
</div>
@if (Model.Allowed) {
<partial name="_CommentFormPartial" model="Model.CommentForm" />
}
}
}
